@model Bai_tap_lon.Context.OrderDetail
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<style>
    .btn-warning:hover {
        background-color: #000000;
        color: #00ff21;
    }

    .field {
        font-weight: bold;
    }

    .fullDes_Detai {
        max-height: 900px;
        overflow: hidden;
    }

        .fullDes_Detai img {
            margin-left: 20%;
        }

    .readmore {
        text-align: center;
        cursor: pointer;
    }

    .active .fullDes_Detai {
        height: 100%;
    }

    .btnTop__active {
        width: 200px;
        margin: 10px;
        margin-left: 20px;
    }
</style>
<!--------------------------------------------------------->
<div class="card-body row">
    <a href="@Url.Action("Index","OrderDetail")" class="btn btn-danger btn-warning btnTop__active">  Trở về trang trước</a>
    <a href="@Url.Action("Edit","OrderDetail",new { id = Model.Id })" class="btn btn-danger btn-warning btnTop__active"><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</a>

    <div class="col-md-9">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>

                    <th class="text-center" style="width:200px">  Trường</th>
                    <th class="text-center"> Nội dung  </th>

                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="field">OrderId</td>
                    <td>@Model.OrderId</td>
                </tr>
                <tr>
                    <td class="field">HProductIdinh</td>
                    <td>@Model.ProductId</td>
                </tr>
                <tr>
                    <td class="field">ProductId</td>
                    <td>@Model.Quantity</td>
                </tr>
                <tr>
                    <td class="field">Price</td>
                    <td>@Model.Price</td>
                </tr>
            </tbody>

        </table>
    </div>
    

</div>

@using (Html.BeginForm("Delete", "OrderDetail", FormMethod.Post, new { enctype = "multipart/from-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

