@model Bai_tap_lon.Context.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<style>
    .btn-warning:hover {
        background-color: #000000;
        color: #00ff21;
    }

    .field {
        font-weight: bold;
    }

    .fullDes_Detai {
        max-height: 900px;
        overflow: hidden;
    }

        .fullDes_Detai img {
            margin-left: 20%;
        }

    .readmore {
        text-align: center;
        cursor: pointer;
    }

    .active .fullDes_Detai {
        height: 100%;
    }

    .btnTop__active {
        width: 200px;
        margin: 10px;
        margin-left: 20px;
    }
</style>
<!--------------------------------------------------------->
<div class="card-body row">
    <a href="@Url.Action("Index","Category")" class="btn btn-danger btn-warning btnTop__active">  Trở về trang trước</a>
    <a href="@Url.Action("Edit","Category",new { id = Model.Id })" class="btn btn-danger btn-warning btnTop__active"><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</a>

    <div class="col-md-9">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>

                    <th class="text-center" style="width:200px">  Trường</th>
                    <th class="text-center"> Nội dung  </th>

                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="field">Tên thuong hiệu</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td class="field">Hinh</td>
                    <td>@Model.Avatar</td>
                </tr>
                <tr>
                    <td class="field">Slug</td>
                    <td>@Model.Slug</td>
                </tr>
                <tr>
                    <td class="field">CategoryId</td>
                    <td>@Model.CategoryId</td>
                </tr>
                <tr>
                    <td class="field">ShotDes</td>
                    <td>@Model.ShotDes</td>
                </tr>
                <tr>
                    <td class="field">FullDescription</td>
                    <td>@Model.FullDescription</td>
                </tr>
                <tr>
                    <td class="field">Price</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td class="field">PriceDiscount</td>
                    <td>@Model.PriceDiscount</td>
                </tr>
                <tr>
                    <td class="field">TypeId</td>
                    <td>@Model.TypeId</td>
                </tr>
                <tr>
                    <td class="field">BrandId</td>
                    <td>@Model.BrandId</td>
                </tr>
                <tr>
                    <td class="field">ShowOnHomePage</td>
                    <td>@Model.ShowOnHomePage</td>
                </tr>
                <tr>
                    <td class="field">DisplayOrder</td>
                    <td>@Model.DisplayOrder</td>
                </tr>
                <tr>
                    <td class="field">CreateOnUtc</td>
                    <td>@Model.CreateOnUtc</td>
                </tr>
                <tr>
                    <td class="field">UpdateOnUtc</td>
                    <td>@Model.UpdateOnUtc</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-3">
        <img src="~/Content/images/items/@Model.Avatar" alt="@Model.Name" class="img-fluid" />
        <p class="text-center">Hình ảnh sản phẩm <span class="font-weight-bold">@Model.Name</span></p>
    </div>

</div>

@using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { enctype = "multipart/from-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

